.grid-cell {
  --grid-cell-size: 210px;
  --grid-cell-border-radius: 5px;
  --grid-cell-icon-list-size: 40px;
  --grid-cell-icon-size: 30px;
  --grid-cell-sprite-size: 100px;
  --grid-cell-additional-notes-height: 40px;

  position: relative;
  width: var(--grid-cell-size);
  height: var(--grid-cell-size);

  border-radius: var(--grid-cell-border-radius);

  display: grid;
  grid-template-columns:
    [cell-start icons-start] var(--grid-cell-icon-list-size)
    [icons-end] auto [cell-end];
  grid-template-rows: [cell-top sprite-top] 1fr [sprite-bottom cell-bottom];

  &--light-text {
    color: var(--text-light);
  }

  &--with-notes {
    grid-template-rows:
      [cell-top sprite-top] 1fr [sprite-bottom notes-top] var(
        --grid-cell-additional-notes-height
      )
      [notes-bottom cell-bottom];
  }

  &__game {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 10px;
    font-weight: 700;
  }

  &__icons-list {
    grid-column: icons-start/icons-end;
    grid-row: cell-top/cell-bottom;

    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--grid-cell-icon-list-size);
      width: var(--grid-cell-icon-list-size);
    }
  }

  &__icon {
    filter: brightness(0) invert(1);
    max-height: var(--grid-cell-icon-size);
    max-width: var(--grid-cell-icon-size);

    &--dark {
      filter: brightness(0);
    }
  }

  &__image-wrapper {
    grid-column: cell-start/cell-end;
    grid-row: sprite-top/sprite-bottom;
    position: relative;
    justify-self: center;
    align-self: center;
    height: var(--grid-cell-sprite-size);
    width: var(--grid-cell-sprite-size);

    img {
      object-fit: contain;
    }
  }

  &__notes {
    grid-column: cell-start/cell-end;
    grid-row: notes-top/notes-bottom;
    padding: 0 5px 5px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    width: var(--grid-cell-size);
    display: flex;
    text-align: center;
    align-items: center;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 100%;
    }
  }

  &__sprite {
    &--silhouette {
      filter: brightness(0);
      opacity: 0.75;
    }
  }
}
