:root {
  --background: #ffffff;
  --foreground: #171717;

  --pokemon-red: #f54c4c;
  --pokemon-blue: #8098fd;
  --pokemon-yellow: #ffdd3c;
  --pokemon-green: #5fcb5c;
  --pokemon-black: #232323;
  --pokemon-brown: #d89948;
  --pokemon-purple: #be7fff;
  --pokemon-gray: #bcbcbc;
  --pokemon-white: #ffffff;
  --pokemon-pink: #ff9ec7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
